<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BlockED</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800" rel="stylesheet">
</head>

<body>
    <br>
    <br>
    <div class="container"><img src="{{url_for('static', filename="block.png")}}"> BlockED.com</div>

    <form action="/user" method="get">
        <fieldset>
            <div class="sign">Sign in to your account</div>
            <br>
            <label for="user" >Enter email </label>
            <br>
            <input type="email" id="user" placeholder="ducky@gmail.com">
            <br><br>
            
            <label for="Password">Enter password </label>
            <br>
            <input type="password" id="pass" placeholder="doodle123"><br><br>

            <input type="submit" value="Sign in">
        </fieldset>
    </form>
</body>
</html>
