<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="styleuser.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800" rel="stylesheet">
</head>

<body>
    <br>
    <br>
    <div class="container"><img src="block.png"> BlockED.com</div>

    <form action="upload.html" method = "POST" enctype = "multipart/form-data">
        <fieldset>
            <div class="sign">Welcome to BlockED</div>
            <br>
            <label for="user" >Upload file</label>
            <br>
            <input type="file" name="file">
            <br><br>
            
            <label for="Password">Enter recipient email</label>
            <br>
            <input type="text" id="pass" name="pass" placeholder="doodle123"><br><br>

            <input type="submit" value="Send">

            <button onclick="download_file()">Download</button>
        </fieldset>
    </form>
</body>
</html>